/* styles for week 9 pages */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: orchid;
}


header {
    overflow: hidden;
    margin-bottom: 20px;
}


#wrapper {
    max-width: 1200px;
    margin: 30px auto;
    clear: both;
}


.success {
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    width: 200px;
    background: slateblue;
    padding: 10px;
}


.welcome-logout {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    width: 200px;
    background: seagreen;
    padding: 10px;
}


.center {
    text-align: center;
    margin-bottom: 10px;
}


form {
    max-width: 580px;
    /* use 0 auto for centering only */
    margin: 0 auto 20px auto;
}


fieldset {
    border: 1px solid steelblue;
    padding: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input {
    width: 75%;
    height: 25px;
    margin-bottom: 10px;
}


footer {
    height: 50px;
    line-height: 50px;
}


footer li {
    list-style-type: none;
    margin: 0 15px;
}


#inner-footer {
    display: flex;
    justify-content: center;
}


#inner-footer ul {
    display: flex;
}