/* styles for my people and people-view exercise */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: lightyellow;
}


#wrapper {
    max-width: 1200px;
    margin: 30px auto;
}


main {
    float: left;
    width: 62%;
}


aside {
    float: right;
    width: 35%;
}


aside img {
    display: block;
    margin: 10px auto;
}


footer {
    clear: both;
}


footer ul {
    display: flex;
    justify-content: center;
}


footer li {
    display: flex;
    justify-content: center;
    margin: 15px;
}


p {
    margin-bottom: 20px;
    line-height: 1.4;
}


li p {
    margin: 15px 0 20px 0;
}


ul {
    list-style-type: none;
    margin-left: 20px;
}


h1, h2 {
    margin-bottom: 10px;
}