/* styles for my people and people-view exercise */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: lightyellow;
}


#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


main {
    float: left;
    width: 62%;
}


aside {
    float: right;
    width: 35%;
}