/* styles for portal page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: plum;
}


#wrapper {
    max-width: 750pt;
    margin: 15pt auto;
    
}


nav {
    background: lightskyblue;
    height: 50pt;
    line-height: 50pt;
    margin-bottom: 15pt;
    margin-left: 75pt;
    margin-right: 75pt;
}


nav li {
    float: left;
    width: 16.66%;
    text-align: center;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    color: purple;
}


main img {
    width: 150pt;
}


main {
    width: 62%;
    float: left;
}


aside {
    width: 22%;
    float: right;
}


main h2 {
    text-align: left;
    margin-top: 10pt;
    margin-bottom: 10pt;
}


.right {
    float: right;
    margin-left: 20pt;
}


img {
    clear: both;
    width: 400pt;   
}


#photos {
    margin-bottom: 15pt;
    padding-top: 25pt;
    clear: both;
}


footer {
    height: 45pt;
    line-height: 45pt;
    background: cornflowerblue;
    clear: both;
}


footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


footer li {
    justify-content: center;
    margin: 0 10pt;
}

/* typography */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 15pt 0;
}


h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15pt;
}


h3 {
    font-size: 1.35em;
    margin-top: 10pt;
}


h4 {
    font-size: 1em;
}